html /deep/ button::-moz-focus-inner {
  border: none;
  outline: none;
}
html /deep/ .tc-button {
  display: inline-block;
  vertical-align: middle;
  min-width: 35px;
  background-image: none;
  background-color: #007486;
  color: white;
  font-size: 15px;
  line-height: 18px;
  font-weight: normal;
  text-align: center;
  border: 1px solid #007486;
  border-radius: 4px;
  padding: 8px 9px;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  touch-action: manipulation;
  box-sizing: border-box;
  text-transform: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
html /deep/ .tc-button:hover,
html /deep/ .tc-button:focus {
  color: white;
  background-color: #005e6d;
  border-color: #005e6d;
  outline: none;
}
html /deep/ .tc-button:active,
html /deep/ .tc-button.active {
  color: white;
  background-color: #004853;
  border-color: #004853;
}
html /deep/ .tc-button [icon]:before {
  position: relative;
  font-size: 23px;
  line-height: 0;
  top: 4px;
}
html /deep/ .tc-button [icon] + span,
html /deep/ .tc-button span + [icon] {
  margin-left: 5px;
}
html /deep/ .tc-button span {
  font-size: 15px;
}
html /deep/ .tc-button.small {
  font-size: 11px;
  line-height: 13px;
  padding: 6px 9px;
}
html /deep/ .tc-button.small [icon]:before {
  font-size: 18px;
  top: 3px;
}
html /deep/ .tc-button.small span {
  font-size: 11px;
}
html /deep/ .tc-button.large {
  font-size: 24px;
  line-height: 29px;
  padding: 7px 14px;
}
html /deep/ .tc-button.large [icon]:before {
  font-size: 32px;
  top: 5px;
}
html /deep/ .tc-button.large span {
  font-size: 24px;
}
html /deep/ .tc-button.positive {
  background-color: #00c607;
  color: white;
  border-color: #00c607;
}
html /deep/ .tc-button.positive:hover,
html /deep/ .tc-button.positive:focus {
  background-color: #00ad06;
  color: white;
  border-color: #00ad06;
}
html /deep/ .tc-button.positive:active,
html /deep/ .tc-button.positive.active {
  background-color: #009305;
  color: white;
  border-color: #009305;
}
html /deep/ .tc-button.negative {
  background-color: #ca3430;
  color: white;
  border-color: #ca3430;
}
html /deep/ .tc-button.negative:hover,
html /deep/ .tc-button.negative:focus {
  background-color: #b52f2b;
  color: white;
  border-color: #b52f2b;
}
html /deep/ .tc-button.negative:active,
html /deep/ .tc-button.negative.active {
  background-color: #a12926;
  color: white;
  border-color: #a12926;
}
html /deep/ .tc-button.subdued {
  background-color: #84959e;
  color: white;
  border-color: #84959e;
}
html /deep/ .tc-button.subdued:hover,
html /deep/ .tc-button.subdued:focus {
  background-color: #768993;
  color: white;
  border-color: #768993;
}
html /deep/ .tc-button.subdued:active,
html /deep/ .tc-button.subdued.active {
  background-color: #697c86;
  color: white;
  border-color: #697c86;
}
html /deep/ .tc-button.significant {
  background-color: #00c6d7;
  color: white;
  border-color: #00c6d7;
}
html /deep/ .tc-button.significant:hover,
html /deep/ .tc-button.significant:focus {
  background-color: #00afbe;
  color: white;
  border-color: #00afbe;
}
html /deep/ .tc-button.significant:active,
html /deep/ .tc-button.significant.active {
  background-color: #0097a4;
  color: white;
  border-color: #0097a4;
}
html /deep/ .tc-button.block {
  display: block;
  width: 100%;
}
html /deep/ .tc-button + .tc-button {
  margin-left: 6px;
}
