.tc-button-group {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  list-style: none;
}
.tc-button-group:before,
.tc-button-group:after {
  content: "";
  display: table;
}
.tc-button-group:after {
  clear: both;
}
.tc-button-group > *,
.tc-button-group ::content > * {
  float: left;
  margin-left: 1px;
}
.tc-button-group > *:first-child,
.tc-button-group ::content > *:first-child {
  margin-left: 0;
}
.tc-button-group > *:first-child .tc-button,
.tc-button-group ::content > *:first-child .tc-button {
  border-radius: 3px 0 0 3px;
}
.tc-button-group > *:last-child .tc-button,
.tc-button-group ::content > *:last-child .tc-button,
.tc-button-group > *:last-child::shadow .tc-button,
.tc-button-group ::content > *:last-child::shadow .tc-button {
  border-radius: 0 3px 3px 0;
}
.tc-button-group .tc-button,
.tc-button-group > ::content tc-button::shadow .tc-button {
  border-radius: 0;
}
.tc-button-group > .tc-button,
.tc-button-group > ::content ::shadow .tc-button {
  display: block;
}
.tc-button-group > .tc-button:first-child,
.tc-button-group > ::content tc-button:first-child::shadow .tc-button {
  border-radius: 3px 0 0 3px;
}
.tc-button-group > .tc-button:last-child,
.tc-button-group > ::content tc-button:last-child::shadow .tc-button {
  border-radius: 0 3px 3px 0;
}
.tc-button-group > .tc-button + .tc-button,
.tc-button-group ::content tc-button + tc-button {
  margin-left: 1px;
}
.tc-button-group[disabled],
.tc-button-group.disabled {
  opacity: 0.4;
  pointer-events: none;
}
