.tc-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  box-sizing: border-box;
}
.tc-dropdown:before {
  position: absolute;
  font-weight: normal;
  font-size: 24px;
  top: 0;
  right: 0;
  width: 40px;
  line-height: 34px;
  pointer-events: none;
  text-align: center;
}
.tc-dropdown select,
.tc-dropdown span {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  background-image: none;
  background-color: #f2f2f2;
  color: black;
  font-size: 15px;
  line-height: 18px;
  font-weight: normal;
  border-radius: 4px;
  padding: 8px 40px 8px 9px;
  border: 1px solid #cfcece;
  cursor: pointer;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tc-dropdown select:hover,
.tc-dropdown span:hover,
.tc-dropdown select:focus,
.tc-dropdown span:focus,
.tc-dropdown select:active,
.tc-dropdown span:active {
  outline: none;
}
.tc-dropdown:hover select,
.tc-dropdown:focus select,
.tc-dropdown:active select,
.tc-dropdown:hover span,
.tc-dropdown:focus span,
.tc-dropdown:active span {
  padding: 7px 39px 7px 8px;
  border: 2px solid #00c6d7;
  outline: none;
}
.tc-dropdown select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 black;
}
.tc-dropdown select::-ms-expand {
  display: none;
}
.tc-dropdown ul {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  list-style: none;
  margin: 0 4px 8px;
  padding: 7px 0;
  background: white;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 100;
}
.tc-dropdown li {
  padding: 3px 10px;
  font-size: 15px;
  word-break: break-word;
}
.tc-dropdown li:hover,
.tc-dropdown li:focus,
.tc-dropdown li:active {
  background: #f2f2f2;
  cursor: pointer;
}
.tc-dropdown a {
  color: black;
  text-decoration: none;
}
.tc-dropdown.small:before {
  font-size: 18px;
  line-height: 28px;
}
.tc-dropdown.small select,
.tc-dropdown.small span {
  font-size: 11px;
  line-height: 13px;
  padding: 6px 40px 6px 9px;
}
.tc-dropdown.small:hover select,
.tc-dropdown.small:focus select,
.tc-dropdown.small:active select,
.tc-dropdown.small:hover span,
.tc-dropdown.small:focus span,
.tc-dropdown.small:active span {
  padding: 5px 39px 5px 8px;
}
.tc-dropdown.small li {
  font-size: 11px;
}
.tc-dropdown.large:before {
  font-size: 30px;
  line-height: 44px;
}
.tc-dropdown.large select,
.tc-dropdown.large span {
  font-size: 24px;
  line-height: 29px;
  padding: 7px 40px 7px 14px;
}
.tc-dropdown.large:hover select,
.tc-dropdown.large:focus select,
.tc-dropdown.large:active select,
.tc-dropdown.large:hover span,
.tc-dropdown.large:focus span,
.tc-dropdown.large:active span {
  padding: 6px 39px 6px 13px;
}
.tc-dropdown.large li {
  font-size: 24px;
}
.tc-dropdown.active ul {
  display: block;
}
.tc-dropdown.block {
  width: 100%;
}
.tc-dropdown.block select,
.tc-dropdown.block span {
  width: 100%;
}
.tc-dropdown[icon] {
  text-align: left;
}
.tc-dropdown.up:before {
  top: -2px;
}
.tc-dropdown.up ul {
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.3);
  top: auto;
  bottom: 100%;
  margin: 8px 4px 0;
}
@-moz-document url-prefix() {
  .tc-dropdown select {
    padding: 7px 40px 6px 9px;
  }
  .tc-dropdown:hover select,
  .tc-dropdown:focus select,
  .tc-dropdown:active select {
    padding: 6px 39px 5px 8px;
  }
  .tc-dropdown.small select {
    padding: 5px 40px 4px 9px;
  }
  .tc-dropdown.small:hover select,
  .tc-dropdown.small:focus select,
  .tc-dropdown.small:active select {
    padding: 4px 39px 3px 8px;
  }
  .tc-dropdown.large select {
    padding: 6px 40px 6px 9px;
  }
  .tc-dropdown.large:hover select,
  .tc-dropdown.large:focus select,
  .tc-dropdown.large:active select {
    padding: 5px 39px 5px 8px;
  }
}
