.tc-sidebar {
  position: relative;
  color: #333;
  background-color: #c5ced3;
}
.tc-sidebar.absolute {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.tc-sidebar.absolute .tc-list {
  overflow: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.tc-sidebar header {
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  text-align: center;
  padding: 4px 15px;
  background-color: #c5ced3;
}
.tc-sidebar .tc-tabs ~ .tc-list {
  top: 50px;
}
.tc-sidebar .tc-tabs ~ .tc-list {
  bottom: 40px;
}
.tc-sidebar .tc-input.block + [icon] {
  top: 18px;
  right: 15px;
}
.tc-sidebar .tc-toolbar {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #beccd4;
  border-top: 1px solid #e5eaec;
  color: #364145;
  padding: 0;
}
.tc-sidebar .tc-toolbar li {
  padding: 0 5px;
  border-color: #e5eaec;
}
.tc-sidebar .tc-toolbar li:first-child {
  border-left: none;
}
.tc-sidebar .tc-toolbar a {
  color: #364145;
}
.tc-sidebar .tc-toolbar a:hover,
.tc-sidebar .tc-toolbar a:focus,
.tc-sidebar .tc-toolbar a:active {
  background-color: #d1d9dd;
}
