//
// TEF components - icons
// This file needs fontawesome font
//

[icon]  {
  text-align: center;

  &:before  {
    font-family:"FontAwesome";
    font-weight:normal;
    font-style:normal;
    speak:none;
    letter-spacing: 0;
    text-decoration:inherit;
    text-transform:none;
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
  }
}


// Icons
[icon="check"]:before {
  content:"\f00c";
}
[icon="angle_down"]:before {
  content:"\f107";
}
[icon="angle_up"]:before {
  content:"\f106";
}